*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.body{
  height: 100vh;
  font-size: 48px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.container{
  width: 95%;
  padding: 20px 0;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
}
.list{
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 12px 30px 1px rgba(192,180,240,0.58);
  height: fit-content;
}
.title{
  font-size: 18px;
  font-weight: 800;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title svg{
  width: 20px;
  cursor: pointer;
}
.addBtn{
  display: none;
  justify-content: center;
  padding: 15px;
  font-size: 16px;
  background-color: lightgray;
  border: none;
  outline: none;
  border-radius: 10px;
  width: 100%;
  height: fit-content;
  cursor: pointer;
  margin-top: 15px;
}
.addBtn:hover{
  background-color: rgb(170, 169, 179);
}
.taskCon{
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.task{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 8px;
}
.task span{
  font-size: 17px;
  display: flex;
  gap: 10px;
  align-items: center;
}
.task input{
  border: none;
  outline: none;
}
.form{
  display: none;
  flex-direction: column;
  padding: 10px;
  gap: 15px;
  width: 70%;
  margin: auto;
}
.show{
  display: flex !important;
}
.form input{
  height: 40px;
  border: none;
  outline: none;
  background-color: rgb(231, 231, 231);
  width: 100%;
  border-radius: 10px;
  padding: 6px 6px 6px 10px;
}
.form button{
  padding: 8px;
  width: 100%;
  border-radius: 8px;
  border: none;
  outline: none;
  cursor: pointer;
}
.form button:hover{
  background-color: rgb(170, 169, 179);
}
.projectBtn{
  width: 30%;
}
#projectForm{
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 12px 30px 1px rgba(192,180,240,0.58);
}